.intro {
    width: min(100%, 52rem);
}

.introText {
    padding: 2rem 1rem 2rem 1rem;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0 1rem 0 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurb {
  width: min(32rem, 100%);
  font-size: x-large;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

.question {
  font-size: x-large;
  font-weight: bold;
  margin: 0 1rem 2rem 1rem;
  padding: 1rem;
}

.link {
    color: navy;
}